.DS_Store
edge/*
edge
safari/*
safari
firefox/*
firefox
safari-ios/*
safari-macos/*
safari-staging/*
edge/
safari/
firefox/
safari-ios/
safari-macos/
safari-staging/
chrome_prod/
chrome_prod/*
chrome/popup/node_modules/
chrome/popup/node_modules/*