.DS_Store
chrome
chrome/*
chrome.zip
edge/*
edge
safari/*
safari
firefox/*
firefox
safari-ios/*
safari-macos/*
safari-staging/*
edge/
safari/
firefox/
safari-ios/
safari-macos/
safari-staging/
chrome_prod/
chrome_prod/*
chrome/popup/node_modules/
chrome/popup/node_modules/*
previous_popup_package.json
previous_popup_snapshot.json
previous_select_to_readefine_package.json
previous_select_to_readefine_snapshot.json