@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'),
         local('Roboto-Thin'),
         url(https://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
         local('Roboto-Light'),
         url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
  @font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
         local('Roboto-Regular'),
         url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: dark;

    --spacing: 20px;
}

html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    font: -apple-system-short-body;
    text-align: center;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

button {
    font-size: 1em;
}


ol {
  counter-reset: li;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
  padding-left: 10px;
}
ol li {
    position: relative;
    padding: 5px 0 5px 30px;
    display: flex;
    align-items: center;
}
.divcounter {
    content: counter(divcounter);
    counter-increment: divcounter;
    height: 20px;
    width: 20px;
    border: 1px solid #ffde00;
    border-radius: 50%;
    color: #ffde00;
    position: absolute;
    left: 0;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#ios ol {
    text-align: left;
}

#openinsafaribtn {
    border-radius: 4;
    padding: 5px;
    color: #ffde00;
    background-color: #262100;
}

.show-images {
    max-width: 80%;
    margin: 0 10%;
    border-radius: 4px;
}


.rdfn-yellow-txt {
    color: #ffde00
}

#ios {
    overflow: scroll;
}

#readefinesplashscreen {
    background-color: white;
}

.rdfn-splashscreen {
    color: black;
    font-size: 24px;
    font-family: 'Roboto-Light';
    text-align: center;
}

#rdfn-splashscreen-header {
    font-weight: normal;
    font-family: 'Roboto-Regular', 'Roboto';
}

#rdfn-splashscreen-welcome-btn {
    padding: 20px;
    background-color: #ffde00;
    color: black;
    border: unset;
    border-radius: 8px;
    flex-grow: 1;
    margin: 0 50px;
    cursor: pointer;
}

#rdfn-splashscreen-welcome-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
}


.rdfn-logo-letter {
  font-family: 'Roboto-Regular', 'Roboto';
  font-size: 360px;
  font-weight: normal;
  fill: #000000;
}

.rdfn-logo-letter-ub {
  font-family: 'Roboto-Light', 'Roboto';
  font-size: 360px;
  font-weight: 300;
  fill: #000000;
}


#rdfn-splash-text {
    margin: 0 40px;
}


#rdfn-splashscreen-logo {
    margin-top: 50px;
}


.mainlogo {
    filter: drop-shadow(3px 4px 2px grey);
}
